__pycache__/
*.pyc
*.pyo
*.pth
*.pt
*.pkl
*.h5
*.keras
models/
data/
venv/
.env
*.egg-info/
dist/
build/
.DS_Store
.idea/

# Node
node_modules/
node-backend/dist/
frontend/dist/

# Prisma
node-backend/prisma/migrations/

